* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(119deg, #0F0C29, #302B63, #24243E);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/main-bg-min.png');
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: 0;
}

a:focus,
a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GilroySemibold';
    src: url('../fonts/Gilroy-Semibold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/Gilroy-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}